<p id="notice"><%= notice %></p>

<h1>Marcadores</h1>
<div class="row">
  <div class="col">
  <%= render "form", bookmark: @bookmark %>
  </div>
  <div class="col">
    <%= pie_chart Bookmark.group(:kinds).count %>
  </div>
</div>
<table id="mytable">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Direccción Url</th>
      <th>Clase</th>
      <th>Categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <%= render @bookmarks %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Marcador', new_bookmark_path %>
<%= link_to 'Categorias', categories_path %>
